*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../img/Background.png) no-repeat;
    background-size: 100%;
    height: 1028px;
    
}
.content{
    font-family: Tahoma, Arial sans-serif;
}
.header{
    background: url(../img/backmenu.png) repeat;
    background-size: 100%;
    height: 35px;  
    position: relative;
}
.menu{
    float: right;
    display: inline;
}
.topmenu{
   float: left;
   text-align: center;
}
.menu li{
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
}
.topmenu li:last-child{
    border-right: 1px solid #5aaee7; 
    margin-left: 10px;
    margin-top: 3px;
    height: 30px;
    padding: 0px;
}
.topmenu li:hover{
    display: block;
    background-color: #4eabda;
    height: 25px;
}
.topmenu a:hover{
    display: block;
    color: #ffffff;
}
.submenu{
    float: right;
    margin-left: 20px;
    margin-right: 15px;
}
.submenu img{
    width: 21px;
}
.submenu li:first-child{
    padding-left: 0;
    padding-right: 0;
}
.submenu li{
    padding-left: 10px;
}
.submenu li:hover{
    background: linear-gradient(to bottom, rgba(81,177,220,1) 0%,rgba(46,122,196,1) 100%);
    border: 1px solid #469bd4;
    border-top: 0;
    display: block;
    padding-left: 9px;
    padding-right: 14px;
    height: 24px;
}
.submenu a{
    color: #dde6ee;
    display: block;
}
li{
    float: left;
}
a{
    color: #5aaee7;
    text-decoration: none;
    font-size: 14px;
}
.regWindow{
    background: rgba(0, 0, 0, 0.5);
    margin: 215px auto;
    height: 615px;
    width: 560px;  
}
form img{
    width: 295px;
}
.top{
    border-bottom: 2px solid #a6b39f;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    padding-bottom: 19px;
    padding-top: 24px;
}
.reg-form{
    text-align: center;
    padding-top: 35px;
}
.box{
    margin-bottom: 15px;
    margin-top: 30px;
}
.reg-form input{
    background: rgba(17,16,15,1);
    border-bottom: 1px solid #484948;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    color: #ffffff;
    height: 35px;
    margin-top: 15px;
    padding-left: 20px;
    width: 275px;
}
.reg-form input:focus{
   background: rgb(31,75,118);
   border-bottom: 1px solid #689bcd;
   box-shadow: 0px 0px 5px 4px rgba(76,137,177,0.8);
}
input::-webkit-input-placeholder{
    color: #999999;
}
.box1{
    color: #999999;
    position: relative;
}
.box1::after{
    content: " ";
    position: absolute;
    border-color: #666666;
    border-style: solid;
    border-width: 0px 58px 1px 71px;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
    top: 9px;
    right: 30px;
}
.box1::before{
    content: " ";
    position: absolute;
    border-color: #666666;
    border-style: solid;
    border-width: 0px 58px 1px 71px;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
    top: 9px;
    left: 30px;
}
.submit p{
    color: #999999;
    font-size: 14px;
    
}
.submit input[type="checkbox"]{
    box-shadow: none;
    height: 15px;
    margin-left: -50px;
    width: 30px;
}
.submit input[type="submit"]{
    background: linear-gradient(to bottom, #33a3d7 0%,#2766a5 100%);
    border-radius: 2px;
    height: 35px;
    text-align: center;
    padding-left: 0;
    width: 150px;
}
.regFooter{
    color: #999999;
    font-size: 11px;
    margin: 0 auto;
    padding-top: 20px;
    width: 310px;
}
.facebook{
    border: none;
    border-radius: 5px;
}
.facebook li{
    float: left;
    display: inline;
    font-family: Tahoma, Arial sans-serif;
    
}
.f-letter{
    background: -webkit-linear-gradient(top, rgba(64,87,154,1) 0%, rgba(51,66,99,1) 100%);
    border-right: 1px solid #223c77;
    border-top: 1px solid #4c68a9;
    border-radius: 5px 0px 0px 5px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3px;
    padding-top: 2px;
    width: 37px;
}
.facebook-log{
    background: -webkit-linear-gradient(top, rgba(64,87,154,1) 0%, rgba(51,66,99,1) 100%);
    border-top: 1px solid #4c68a9;
/*    border-radius: 0px 5px 5px 0px;*/
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 8px 10px 9px 30px;

}
.quote{
    background: -webkit-linear-gradient(top, rgba(64,87,154,1) 0%, rgba(51,66,99,1) 100%);
    border-top: 1px solid #4c68a9;
    border-radius: 0px 5px 5px 0px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-top: 5px;
    width: 30px;
}
