*{
    margin: 0;
    padding: 0;
}
table{
    margin: 200px auto;
    border-collapse: collapse;
    padding: 0;
}
th{
    
}
td{
    border-bottom: 5px solid;
    border-right: 5px solid;
    height: 20px; 
}
td:last-child{
    border-right: 0;
}
.row7 td{
    border-bottom: 0;
}
.row6 td{
    border-bottom: 0;
}
.row5 td{
    border-bottom: 0;
}
.row1,
.row4,
.row5{
    height: 50px;
}
.row2,
.row3{
    height: 100px;
}
.box{
    background: black;
    width: 50px;
    height: 50px;
}
.box1{
    height: 100px;
    width: 60px;
}
.box3{
    width: 250px;
}
