*{
    margin: 0;
    padding: 0;
}
table{
    margin: 200px auto;
    border-collapse: collapse;
    padding: 0;
}
td{
    border-bottom: 5px solid;
    border-right: 5px solid;
    height: 50px; 
    width: 50px;
}
td:last-child{
    border-right: 0;
}
.row7 td{
    border-bottom: 0;
}
.row6 td{
    border-bottom: 0;
}
.row5 td{
    border-bottom: 0;
}
.box{
    background: black;
}